body {
    background-color: #e9edc9;
    font-family: "Nunito", sans-serif;
    /* font-size: 1.5rem;
    font-weight: 1000;
    font-style: normal; */
}

#mainNavbar {
    /* background-color: #ccd5ae; */
    font-size: 1.5rem;
    font-weight: 100;
    text-transform: uppercase;
}
#mainNavbar .nav-link{
    color: white;
}
#mainNavbar .nav-link:hover{
    color: #d4a373;
}
#mainNavbar .navbar-brand {

    color: #d4a373;
    font-size: 1.5rem;
    font-weight: 400;
}

#con{
    background-color: #fefae0;
}

.container{
    background-color: #faedcd;
}
        
#head span{
    color: #d4a373;
}
#head h1{
   font-weight: 100;
   font-size: 4rem;
}
.blu h2{
    color: #d4a373;
    font-weight: 100;
    font-size: 2.5rem;

}
.blu p{
    color: #9d6b53;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.cont{
    margin-top: 100px;
    margin-bottom: 100px ;
}

.navbar.scrolled{
    background-color: #ccd5ae;
    transition: background 500ms;
}




@media (max-width : 1200px){
    #head h1{
        font-weight: 100;
        font-size: 3rem;
     }
}

/* #mainNavbar .navbar-brand{
   
  } */