body{
    /* background-color: #10002b; */
    background: linear-gradient(45deg, #10002b, #29003f);
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
}

/* navbar */
#mainNavbar{
    font-size: 1.7rem;
    font-weight: 100;
    text-transform: uppercase;
}

#mainNavbar .navbar-brand {
    font-size: 1.7rem;
    font-weight: 400;
    color: #9d4edd;
}

#mainNavbar .nav-link{
    color: white;
}

#mainNavbar .nav-link:hover{
    color: #9d4edd;
}

h1{
    color: #c77dff;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 100;
}

.lead{
    color: white;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2.5;
}

.box{
  /* background-color: #240046;   */
  background: linear-gradient(45deg, #240046, #3a004d);
 
}

h2{
    color: #c77dff;
    text-transform: uppercase;
    font-size: 1.9rem;
    font-weight: 100;
}
h3{
    color: white;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 100;
}

.navbar.scrolled{
    background-color: rgba(36, 0, 70, 0.7);
    transition: background 500ms;
}

#imgg{
    transition: transform 0.3s ease;
}

#imgg:hover , #imgg:focus{
    transform: scale(1.05);
}

.card-title{
    color: white;
    text-transform: uppercase;
    font-size: 1.1rem;
}
.card-text{
    color: #e0aaff;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.project img{
    height: 100%;
    width: 100%;
}

.btn{
    border-color: #9D4EDD;
    color: #9D4EDD;
    text-transform: uppercase;
    transition:  all 0.3s ease;
}
.btn:hover, .btn:focus , .btn:active{
    border-color: #7B2CBF;
    color: white;
    background-color: #7B2CBF;
}

.media svg{
height: 40px;
width: 40px;
margin-left: 20px;

}

.cir{
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #3c096c;
}

.cir img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding-right: 12px;
}

.round{
    border-radius: 5px 0 0 5px;
}


 @media only screen and ( max-width:767px){
    .round{
        border-radius: 5px 5px 0 0;
    }
    h1 {
        font-size: 2.1rem;
    }
    h2 {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }
    h3 {
        font-size: 1.2rem;
    }
    .lead{
        line-height: 2;
    }
    #mainNavbar{
        font-size: 1.4rem;
    }
    .boxx{
        margin: auto;
    }
    /* .box{
        background: linear-gradient(60 deg, #240046, #3a004d);
    } */
} 
/* @media only screen and ( min-width:768px) and ( max-width:991px) {

}
@media only screen and ( min-width:992px) and ( max-width:1199px) {

}
@media only screen and ( min-width:1200px){
    
}  */